/*

  Navigation
  +

*/


/*Top Navigation*/
#menu-top-menu{
    margin:0;
    padding: 0;
    
    li{
        width: auto;
        display: inline;
        text-transform: capitalize;

        &:last-child{
            border-right: 0 !important;
            margin-right: 0 !important;
            padding-right: 0 !important;
        }
    }
}

/*Primary Navigation*/
#menu-main-navigation{

    .nav-link{
        color: $white;
        transition: ease-out .4s;

        &:hover{
            background: darken($color-primary, 8%);
            transition: ease-in-out .4s;
        }
    }
}


/*Dropdown Styling for Primary Navigation*/
.dropdown-menu{
    margin: 0;
    border-radius: 0;
}

.dropdown-item{
    &:hover{
        background-color: $primary;
        color: $white;
    }
}


.dropdown:hover>.dropdown-menu {
    display: block;
}

