/*

  Woocommerce
  +

*/

/* The Shop */
.products {
    .size-woocommerce_thumbnail {
        max-width: 100%;
        height: auto;
    }

    .added_to_cart {
        display: none;
    }
    .add_to_cart_button.loading {
        opacity: 0.5;
        &:before {
            margin-right: 5px;
            content: '';
            @extend .spinner-border;
            height: 18px;
            width: 18px;
            border-width: 0.2em;
        }
    }
}

//Sidebar
.widget_text{
    .h5{
        padding-bottom: .15em;
        margin-bottom: .8em;
    }
}

.woo-side{
    margin-bottom: 2.5em;
}

//PWB - Widget Plugin
// Styles Perfect Brands for WooCommerce - Brands List

ul.pwb-row{
    padding:0;
    list-style: none;

    li {
       padding-bottom: .5em;
       
       ::before{
            font-family: 'FontAwesome';
            content: '\f054';
            padding-right: .80em;
       }
       
       a{ 
           color: $black;

           &:hover{
            text-decoration: none ;
            color: $secondary;
            transition: ease-in 3s;
        }
       }

        
    }
}


// Styles Perfect Brands for WooCommerce - Brands Dropdown
.pwb-dropdown-widget{
    border: 1px solid $lighest-gray;
    padding: .3em .5em;
    margin-bottom: 1.7em;
}

//Categories - Sidebar
.product-categories{
    padding-left: 0;
    border: 1px solid $lighest-gray;
    border-radius: .25rem;

    :last-child{
        border-bottom: 0;
    }

    .cat-item{
        list-style: none;
        border-bottom: 1px solid $lighest-gray;
        padding: 0.4em;

        ::before{
            // font-family: 'FontAwesome';
            // content: '\f054';
            padding-right: .9em;
       }

       &:hover{
        background: $gray-300;
        transition: ease-in .5s;
       }

        a{
            color: $black;
            &:hover{
                color: $secondary;
                text-decoration: none;
                
            }
        }
    
        .count::before{
            content:"";
            padding-right: 0;
        }
    }
}

.search-no-results {
    #selected-vehicle {
        //display: none;
    }
}

.woocommerce-pagination {
    display: block;

    ul {
        margin: 1em 0;
        display: flex;
        list-style: none;

        .page-numbers {
            position: relative;
            display: block;
            padding: 0.5rem 0.75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: $primary;
            background-color: #fff;
            border: 1px solid #dee2e6;
            margin-right: 0;

            &.current {
                background-color: $primary;
                color: #fff;
            }
        }
    }
}


/*My Cart*/
.cart {
    .product-thumbnail {
        .size-woocommerce_thumbnail {
            width: 100px;
            height: auto;
        }
    }

    .cart_item {
        td {
            vertical-align: middle;
        }
    }
}

.woocommerce-shipping-totals {
    small {
        font-size: 12px;
    }

    .form-check{
        padding-left: 0;
    }
}

.woocommerce-shipping-destination{
    strong{
        display: block;
    }
}


// mini cart

.woocommerce-mini-cart {
    .woocommerce-mini-cart-item {
        .size-woocommerce_thumbnail {
            width: 50px;
            height: auto;
        }
    }
}

.woocommerce-mini-cart__empty-message{
    margin-bottom: 0;
}

/*Payment method*/
.wc_payment_method{
    label{
        background: $royal-blue;
        padding: .5rem .3rem;
        transition: border ease-out .5s;
        width: 100%;
        color: $white;
        border: 1px solid darken($color-primary, 18%);

        &:hover{
            transition: border ease-in .5s;
            border: 1px solid lighten($color-primary, 10%);
        }
    }
}
.payment_method_paypal{
    img{
        display: none;
    }
    .about_paypal{
        color: $white;
        font-size: .8em;
        text-indent: 5px;
        
        &:before{
            content: '- ';
        }

        &:hover{
            text-decoration: underline;
            transition: text-decoration ease-in .5s;
        }
    }
}

.payment_box{
    font-size: .9em;
    transition: max-height .5s;
    padding-left: 5px;
}

// braintree overrides
.payment_method_braintree_credit_card {
    .form-row {
        margin-left: 0;
        margin-right: 0;
    }

    .wc-braintree-credit-card-new-payment-method-form {
        background-color: #fff;

        .form-row {
            padding: 0 !important;
            margin-bottom: 1rem;

            .wc-braintree-hosted-field {
                @extend .form-control;
                height: calc(1.5em + 0.75rem + 2px) !important;
            }
        }
    }
}
.woocommerce-checkout {
    .woocommerce-error {
        @extend .alert;
        @extend .alert-danger;
    }
     input{
        display: revert;
    }
}

.wc_payment_method input{
    display: none;
}

.quantity {
    width: 60px;
}

#wc_braintree_paypal_container {
    padding-top: 1em;
}


.shop_table{
    margin-top: 1.5em;
    thead{
        background: $color-primary;
        color: $white;
    }

    .cart-sku{
        @include fontSize(12px);
    }
   
}
/* My Account*/
.woocommerce-MyAccount-navigation {
    .list-group-item.is-active {
        @extend .list-group-item, .active;
    }
}

.woocommerce-MyAccount-content{

    .alert-info{
        border-color: $royal-blue;
        background: $white;
        color: $royal-blue;
    }

    .order-number, .order-date, .order-status{
        background: $royal-blue;
        color: $white;
        border-radius: .25rem;
        transition: .2s ease-out;

        &:hover{
            background: $white;
            color: $royal-blue;
            transition:  .2s ease-in;
        }

    }
}
/*Products*/
.product {
    img.wp-post-image {
        max-width: 100%;
        height: auto;
    }

    .img-fluid:hover{
        filter: sepia(0%);
    }

    .woocommerce-product-rating{
        margin: 1.5em 0 .9em;
    }
}
/* rating block specific to review submit form */
.woocommerce p.stars {
    position: relative;
    padding: 0.75em 0.35em;
    font-family: 'Font Awesome 5 Free' !important;
    font-weight: 900;
}
.woocommerce p.stars a {
    display: inline-block;
    margin-right: 1em;
    text-indent: -9999px;
    position: relative;
    border-bottom: 0 !important;
    outline: 0;
    color: #999;
}
.woocommerce p.stars a:hover,
.woocommerce p.stars a.active {
    color: $primary;
}
.woocommerce p.stars a:last-child {
    border-right: 0;
}
.woocommerce p.stars [class^='star-'],
.woocommerce p.stars [class*=' star-'] {
    border-right: 1px solid #ccc;
}
.woocommerce p.stars [class^='star-']:after,
.woocommerce p.stars [class*=' star-']:after {
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.woocommerce p.stars a.star-1 {
    width: 2em;
    top: -1px;
}
.woocommerce p.stars a.star-1:after {
    
    content: '\f005' !important;
}
.woocommerce p.stars a.star-1.active:after,
.woocommerce p.stars a.star-1:hover:after {
    content: '\f005' !important;
}
.woocommerce p.stars a.star-2 {
    width: 3em;
}
.woocommerce p.stars a.star-2:after {
    content: '\f005\f005';
}
.woocommerce p.stars a.star-2.active:after,
.woocommerce p.stars a.star-2:hover:after {
    content: '\f005\f005';
}
.woocommerce p.stars a.star-3 {
    width: 4em;
}
.woocommerce p.stars a.star-3:after {
    content: '\f005\f005\f005';
}
.woocommerce p.stars a.star-3.active:after,
.woocommerce p.stars a.star-3:hover:after {
    content: '\f005\f005\f005';
}
.woocommerce p.stars a.star-4 {
    width: 5em;
}
.woocommerce p.stars a.star-4:after {
    content: '\f005\f005\f005\f005';
}
.woocommerce p.stars a.star-4.active:after,
.woocommerce p.stars a.star-4:hover:after {
    content: '\f005\f005\f005\f005';
}
.woocommerce p.stars a.star-5 {
    width: 6em;
}
.woocommerce p.stars a.star-5:after {
    content: '\f005\f005\f005\f005\f005';
}
.woocommerce p.stars a.star-5.active:after,
.woocommerce p.stars a.star-5:hover:after {
    content: '\f005\f005\f005\f005\f005';
}
/*Store Demo Styling*/
.woocommerce-store-notice{
    background: $primary;
    color: $white;
    padding:.5rem !important;
    text-align: center;
    @include fontSize(16px);

    position: absolute;
    top:0;
    width: 100%;
}

.woocommerce-store-notice__dismiss-link{
        color: $white;
        background: $royal-blue;

        &:hover{
            color: $white;
        }

        &:after{
            content:" this Notice"
        }
}

/* Reviews */
.comment-form{

    textarea{
        display: flex;
        padding: .5em;
        border: 1px solid $gray-400;

        &:focus{
        color: $gray-700;
        background-color: $white;
        border-color: $light-blue;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(0,123,255,0.25);
        }
    }

    label{
        font-weight: $bold-weight;
        padding-right: .5em;
    }
}

.comment-form-cookies-consent{
    label{
        margin-bottom: 0;
        padding-left: .3em;
        vertical-align: text-top;
    }
}
.woocommerce-Reviews{

    .commentlist .avatar{
        position: relative;
        top: 0;
        left: 0;
    }

    .commentlist{
        width: 100%;
        margin: 0;
        padding: 0;
        font-weight: normal !important;

        li.comment{
            padding: 0;
        }

    }

    .woocommerce-Reviews-title{
        @include fontSize(18px);
        margin: 1em 0;
    }

    .meta{
        @include fontSize(16px);
    }

    .woocommerce-review__author{
        text-transform: capitalize;
    }

    .card{
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }
    
    .card-body{
        padding-bottom: 0;

        .woocommerce .star-rating span::before {
            display: none;
        }

        .star-rating{
            margin-bottom: 1.2em;
        }
    }

    .description{
        font-weight: normal !important;
    }

    #review_form_wrapper{
        margin-top: 2.5em;
    }

}