/*

  Woocommerce
  +

*/

/* The Shop */
.products {
    .size-woocommerce_thumbnail {
        max-width: 100%;
        height: auto;
    }

    .added_to_cart {
        display: none;
    }
    .add_to_cart_button.loading {
        opacity: 0.5;
        &:before {
            margin-right: 5px;
            content: '';
            @extend .spinner-border;
            height: 18px;
            width: 18px;
            border-width: 0.2em;
        }
    }
}

//Sidebar
.widget_text{
    .h6{
        padding-bottom: .15em;
    }
}

.woo-side{
    margin-bottom: 2.5em;
}

//PWB - Widget Plugin
// Styles Perfect Brands for WooCommerce - Brands List

ul.pwb-row{
    padding:0;
    list-style: none;

    li {
       padding-bottom: .5em;
       
       ::before{
            font-family: 'FontAwesome';
            content: '\f054';
            padding-right: .80em;
       }
       
       a{ 
           color: $black;

           &:hover{
            text-decoration: none ;
            color: $secondary;
            transition: ease-in 3s;
        }
       }

        
    }
}


// Styles Perfect Brands for WooCommerce - Brands Dropdown
.pwb-dropdown-widget{
    border: 1px solid $lighest-gray;
    padding: .3em .5em;
    margin-bottom: 1.7em;
}

//Categories - Sidebar
.product-categories{
    padding-left: 0;
    border: 1px solid $lighest-gray;
    border-radius: .25rem;

    :last-child{
        border-bottom: 0;
    }

    .cat-item{
        list-style: none;
        border-bottom: 1px solid $lighest-gray;
        padding: 0.4em;

        ::before{
            // font-family: 'FontAwesome';
            // content: '\f054';
            padding-right: .9em;
       }

       &:hover{
        background: $gray-300;
        transition: ease-in .5s;
       }

        a{
            color: $black;
            &:hover{
                color: $secondary;
                text-decoration: none;
                
            }
        }
    
        .count::before{
            content:"";
            padding-right: 0;
        }
    }
}

.search-no-results {
    #selected-vehicle {
        //display: none;
    }
}

.woocommerce-pagination {
    display: block;
.woocommerce-shipping-totals {
    small {
        font-size: 12px;
    }

    .form-check{
        padding-left: 0;
    }
}
.woocommerce-mini-cart__empty-message{
    margin-bottom: 0;
}

.shop_table{
    margin-top: 1.5em;
    thead{
        background: $color-primary;
        color: $white;
    }

    .cart-sku{
        @include fontSize(12px);
    }
   
}
.woocommerce-store-notice__dismiss-link{
        color: $white;
        background: $royal-blue;

        &:hover{
            color: $white;
        }

        &:after{
            content:" this Notice"
        }
}