/*

  Footer
  +

*/

footer {
  .copyright {
      p {
          font-size: 12px;
      }
  }
}

.newsletter{
  input{
    width: 100% !important;
  }

  .gform_wrapper ul.gform_fields li.gfield{
    padding-right: 0;
  }

  .gform_wrapper .gform_footer{
    padding-top: 0;
  }

  #gform_submit_button_2{
    width: calc(10% + 50px) !important;
  }
}