/*

  Header
  +

*/

.header{
  display: block;
  padding: 150px 30px 0;
  width: 420px;
  max-width: 100%;

  h1{
    margin: 0 0 30px;
.home-slider {
  .slide-content {
      height: 370px;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      background-size: cover;

      @include media-breakpoint-up(xl) {
          height: 470px;
      }

      h2 {
          font-weight: bold;
          color: $white;
      }

      p {
          color: $white;
      }
  }
}
.brand-logo{

  img{
    padding-bottom: 4px;
    border-bottom: $royal-blue 5px solid;
  }
}