/*

  Header
  +

*/

.top-bar{
  span{
    @include fontSize(14px);
  }
}

#menu-top-menu{
  @include fontSize(14px);
}

.slide-arrows {
  z-index: 99;
  top: 50%;

  a {
      &:hover {
          cursor: pointer;
      }
  }
}
.home-slider {
  .slide-content {
      height: 370px;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      background-size: cover;

      @include media-breakpoint-up(xl) {
          height: 470px;
      }

      h2 {
          font-weight: bold;
          color: $white;
      }

      p {
          color: $white;
      }
  }
}


.home-benefits {
  i {
      font-size: 50px;
  }
}

.brand-logo{

  img{
    padding-bottom: 4px;
    border-bottom: $royal-blue 5px solid;
  }
}