/*

  Main
  +

*/

::selection{
  background-color: $royal-blue;
  color: $white;
}

.main{
  padding: 0 30px;
}

.main-success{
  color: white;
}

.img-fluid{
  transition: .5s ease-in;
    &:hover{
    filter: sepia(30%);
    transition: .5s ease-in-out;
  }
}